.form-group {
   border-radius: 20px;
}
.btn {
    background-color: red;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.formBtn {
    margin: 20px 30px 40px 0px;
}
.btn:hover {
    background-color: #ffffff;
    color: #030328;
  
}
.resume {
    height: 90%;
    width: 100%;
    border-radius: 20px;
}