/*
  ========================================
  Navigation
  ========================================
*/

.navbar {
    padding: 20px;
}

.navbar, .nav {
    background-color: #030328;
    color: #ffffff!important;
    
}